.retried-content{
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.login-button{
    /* display: flex !important; */
    float: right !important;
    /* flex-direction: right !important */
}